{% extends "base.html" %}

{% block body %}
<table class="table table-striped">
  <thead>
    <th>Number</th>
    <th>Name</th>
  </thead>
  <tbody>
    {% for group in groups %}
    <tr>
      <td>{{group[1]}}</td>
      <td><a href="/track/{{group[0]}}">{{group[2]}}</a></td>
    </tr>

    {%end%}
</tbody>
</table>

{% end %}
