{% extends "base.html" %}

{% block body %}
<div class="row">

{% for group in groups %}
  <div class="col-sm-3">
    <a href="/{{prefix}}/{{group[0]}}" class="thumbnail text-center">
      <img src='{{group[2]}}'>
      <div class="caption">
        <h4>{{group[1]}}</h4>
      </div>
    </a>
      </div>
    {% end %}

</div>

{%end%}