{% extends "base.html" %}

{% block body %}
<p>
Welcome to <b>SearchIt</b>, a simple music database powered by <a
    href="http://www.tornadoweb.org/">Tornado</a> and <a
    href="http://www.sqlite.org/">SQLite</a>.
</p>
<img src="https://www3.nd.edu/~pbui/teaching/cdt.30020.sp16/static/img/project01/rpi04.png" />

<p>
Group Members: Peter Chiang, Jess Wilson, Sarah Wyczawski
</p>
{% end %}


