{% extends "base.html" %}

{% block body %}

Track Page
<dl>
{%for group in groups%}

    <dt>Track ID</dt>
    <dd>{{group[0]}}</dd>

    <dt>Artist</dt>
    <dd><a href="/artist/{{group[1]}}">{{group[2]}}</a></dd>

    <dt>Album</dt>
    <dd><a href="/album/{{group[3]}}">{{group[1]}}</a></dd>

    <dt>Track Number</dt>
    <dd>{{group[5]}}</dd>

    <dt>Track Name</dt>
    <dd>{{group[6]}}</dd>

{%end%}
</dl>

{%end%}